sources/* linguist-vendored
additional_headers/* linguist-vendored
patches/* linguist-vendored
mingw_build_scripts/* linguist-vendored

*.py text=auto
*.patch text=auto
*.diff text=auto
*.sh text=auto
*.txt text=auto