sources/* linguist-vendored
additional_headers/* linguist-vendored
patches/* linguist-vendored
mingw_build_scripts/* linguist-vendored

*       text=auto
*.py    text eol=lf
*.patch text eol=lf
*.diff  text eol=lf
*.sh    text eol=lf
*.txt   text eol=lf
*.md    text eol=lf
*.gz    -text